/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */

.x-panel-body-default,
.x-toolbar-default {
    background-color: transparent !important;
    color: white !important;
}

// FRONT CONTENT //
#front-content {
    text-align: center;

    h1 {
        font-size: 60px;
    }
}
// BUTTONS //
.btn {
    background-color: transparent !important;
    border-color: transparent !important;
    border: none;

    &.icon {
        .x-btn-icon-el {
            color: white;
            font-size: 30px;
            width: auto;
        }
    }
}

#footer {
    a {
        text-decoration: none;
        color: cornflowerblue;

        &:hover{ 
            text-decoration: underline;
        }
    }
}